
body
{
    background-color: rgb(250,251,249);
    width: 975px;
    box-align : center;
    display : flex;
    font-family: 'Helvetica', 'LiberationSans-Regular', 'Arial', 'sans-serif';
}
p
{
    font-size : 0.9em;
    line-height: 100%;
}
h3
{
    border-bottom: thick solid ;
    width: 600px;
    font-size: 1.3em;
}
a:hover
{
    color:rgb(224, 45, 75);
}
.cv
{
    color:black;
}
.blocPhoto
{
    float: right;
}
.coordonnees
{
    font-size : 1.2em;
}
.interdiv
{
    line-height: 5%;
}
.main
{
    margin-right: 50px;
}